.header {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 10px;
  text-align: center;
  font-size: 3rem;
  color: #333;
  text-shadow: 4px 4px 4px #aaa;
  border-radius: .3rem;
  background-image: url(./cross_scratches.png);
}
h1 {
  font-size: 3rem;
}
